default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  username: postgres
  password: postgres
  host: localhost
  port: 5433

development:
  <<: *default
  database: cat_a_log_api_development

test:
  <<: *default
  database: cat_a_log_api_test

production:
  <<: *default
  database: cat_a_log_api_production
  username: cat_a_log_api
  password: <%= ENV['CAT_A_LOG_API_DATABASE_PASSWORD'] %>
  port: 5432
